In [108]:
from sqlalchemy import create_engine
import pandas as pd
from sqlkey import keystring
db_conn = create_engine(keystring)

In [2]:
#pd.read_sql_query('''SELECT * FROM allstarfull LIMIT 5''',cnx)

Cleanup the business csv file to get it ready to import into postgres

In [69]:
#nyDF = pd.read_csv('data/nyc/nyc_inspection_results.csv')
businessDF = pd.read_csv('data/yelp/business.csv')

In [70]:
businessDF.shape

(156639, 101)

In [71]:
attributecols = [col for col in businessDF.columns if 'attributes' in col]

In [72]:
len(attributecols)

81

In [73]:
allAttributeCols = attributecols.copy()
allAttributeCols.append('business_id')
attributeDF = businessDF[allAttributeCols]

In [74]:
hourcols = [hour for hour in businessDF.columns if 'hours' in hour]

In [75]:
allHourCols = hourcols.copy()
allHourCols.append('business_id')
hourDF = businessDF[allHourCols]

In [76]:
hourDF.shape

(156639, 8)

In [77]:
businessDropCols = attributecols + hourcols

In [78]:
businessDF.drop(businessDropCols,axis=1,inplace=True)

In [79]:
#businessDF.drop(hourcols,axis=1, inplace=True)

In [80]:
businessDF.columns

Index(['postal_code', 'latitude', 'business_id', 'categories', 'name',
       'is_open', 'neighborhood', 'review_count', 'state', 'address', 'city',
       'stars', 'longitude'],
      dtype='object')

In [63]:
hourcols

['hours.Thursday',
 'hours.Friday',
 'hours.Sunday',
 'hours.Wednesday',
 'hours.Monday',
 'hours.Tuesday',
 'hours.Saturday']

In [65]:
hourDF.columns

Index(['hours.Thursday', 'hours.Friday', 'hours.Sunday', 'hours.Wednesday',
       'hours.Monday', 'hours.Tuesday', 'hours.Saturday', 'business_id'],
      dtype='object')

In [81]:
attributeDF.columns

Index(['attributes.Ambience.divey', 'attributes.RestaurantsDelivery',
       'attributes.DogsAllowed', 'attributes.HairSpecializesIn.coloring',
       'attributes.BestNights.sunday', 'attributes.BYOB',
       'attributes.AgesAllowed', 'attributes.Music.video',
       'attributes.Alcohol', 'attributes.Ambience.classy',
       'attributes.RestaurantsTableService', 'attributes.Ambience.touristy',
       'attributes.RestaurantsCounterService', 'attributes.Corkage',
       'attributes.RestaurantsGoodForGroups',
       'attributes.BusinessAcceptsBitcoin', 'attributes.HappyHour',
       'attributes.WheelchairAccessible', 'attributes.Ambience.hipster',
       'attributes.BusinessAcceptsCreditCards',
       'attributes.DietaryRestrictions.vegetarian', 'attributes.Music.live',
       'attributes.Music.background_music', 'attributes.BusinessParking.lot',
       'attributes.Music.karaoke', 'attributes.GoodForMeal.breakfast',
       'attributes.NoiseLevel', 'attributes.HairSpecializesIn.perms',
       'attributes.DriveThru', 'attributes.HasTV',
       'attributes.GoodForMeal.dinner', 'attributes.BusinessParking.street',
       'attributes.RestaurantsAttire', 'attributes.BestNights.tuesday',
       'attributes.AcceptsInsurance', 'attributes.BestNights.wednesday',
       'attributes.HairSpecializesIn.kids', 'attributes.Open24Hours',
       'attributes.Ambience.trendy', 'attributes.CoatCheck',
       'attributes.HairSpecializesIn.straightperms',
       'attributes.HairSpecializesIn.curly', 'attributes.Music.no_music',
       'attributes.HairSpecializesIn.africanamerican',
       'attributes.RestaurantsPriceRange2', 'attributes.Ambience.intimate',
       'attributes.GoodForMeal.latenight', 'attributes.GoodForMeal.dessert',
       'attributes.BusinessParking.validated', 'attributes.GoodForMeal.lunch',
       'attributes.GoodForKids', 'attributes.DietaryRestrictions.soy-free',
       'attributes.GoodForMeal.brunch', 'attributes.BusinessParking.valet',
       'attributes.DietaryRestrictions.gluten-free', 'attributes.BYOBCorkage',
       'attributes.BusinessParking.garage', 'attributes.BestNights.friday',
       'attributes.Music.dj', 'attributes.HairSpecializesIn.extensions',
       'attributes.BestNights.saturday', 'attributes.Ambience.casual',
       'attributes.BestNights.thursday', 'attributes.BestNights.monday',
       'attributes.HairSpecializesIn.asian',
       'attributes.DietaryRestrictions.kosher', 'attributes.WiFi',
       'attributes.Smoking', 'attributes.DietaryRestrictions.halal',
       'attributes.GoodForDancing', 'attributes.ByAppointmentOnly',
       'attributes.Caters', 'attributes.RestaurantsReservations',
       'attributes.DietaryRestrictions.dairy-free',
       'attributes.DietaryRestrictions.vegan', 'attributes.Ambience.romantic',
       'attributes.Music.jukebox', 'attributes.Ambience.upscale',
       'attributes.RestaurantsTakeOut', 'attributes.BikeParking',
       'attributes.OutdoorSeating', 'business_id'],
      dtype='object')

In [82]:
businessDF.head()

,postal_code,latitude,business_id,categories,name,is_open,neighborhood,review_count,state,address,city,stars,longitude
0,44143,41.541716,YDf95gJZaq05wvo7hTQbbQ,"[u'Shopping', u'Shopping Centers']",Richmond Town Square,1,NaN,17,OH,691 Richmond Rd,Richmond Heights,2.0,-81.493116
1,28215,35.236870,mLwM-h2YhXl2NCgdS84_Bw,"[u'Food', u'Soul Food', u'Convenience Stores',...",South Florida Style Chicken & Ribs,0,Eastland,4,NC,2824 Milton Rd,Charlotte,4.5,-80.741976
2,M4K 1N7,43.677126,v2WhjAB3PIBA8J8VxG3wEg,"[u'Food', u'Coffee & Tea']",The Tea Emporium,0,Riverdale,7,ON,337 Danforth Avenue,Toronto,4.5,-79.353285
3,85258,33.565082,CVtCbSB1zUcUWg-9TNGTuQ,"[u'Professional Services', u'Matchmakers']",TRUmatch,1,NaN,3,AZ,"7702 E Doubletree Ranch Rd, Ste 300",Scottsdale,3.0,-111.916400
4,85016,33.505928,duHFBe87uNSXImQmvBh87Q,"[u'Sandwiches', u'Restaurants']",Blimpie,0,NaN,10,AZ,4719 N 20Th St,Phoenix,4.5,-112.038847

In [84]:
categoryDF = businessDF[['business_id','categories']]

In [86]:
businessDF.drop('categories',axis=1, inplace=True)

In [87]:
orderedCols = ['business_id', 'name', 'neighborhood', 'address', 'city', 'state', 'postal_code', 'latitude', 
        'longitude', 'stars', 'review_count', 'is_open']

In [88]:
businessDF = businessDF[orderedCols]

In [91]:
businessDF.to_csv('data/yelp/pgBusiness.csv',index=False)

In [98]:
userDF = pd.read_csv('data/yelp/user.csv')

In [99]:
userDF.shape

(1183362, 22)

In [100]:
userDF.columns

Index(['yelping_since', 'useful', 'compliment_photos', 'compliment_list',
       'compliment_funny', 'compliment_plain', 'review_count', 'elite', 'fans',
       'compliment_note', 'funny', 'compliment_writer', 'compliment_cute',
       'average_stars', 'user_id', 'compliment_more', 'friends',
       'compliment_hot', 'cool', 'name', 'compliment_profile',
       'compliment_cool'],
      dtype='object')

In [101]:
userOrderedCols = ['user_id','name','review_count','yelping_since','useful','funny','cool','fans',
                   'average_stars','compliment_hot','compliment_more','compliment_profile','compliment_cute',
                   'compliment_list','compliment_note','compliment_plain','compliment_cool','compliment_funny',
                   'compliment_writer','compliment_photos']

In [102]:
userDF = userDF[userOrderedCols]#

In [103]:
userDF.to_csv('data/yelp/pgUser.csv',index=False)

In [122]:
tipDF = pd.read_csv('data/yelp/tip.csv')

In [125]:
tipDF.shape

(1028802, 5)

In [126]:
tipDF.head()

,user_id,text,business_id,likes,date
0,zcTZk7OG8ovAmh_fenH21g,Get here early enough to have dinner.,tJRDll5yqpZwehenzE2cSg,0,2012-07-15
1,ZcLKXikTHYOnYt5VYRO5sg,Great breakfast large portions and friendly wa...,jH19V2I9fIslnNhDzPmdkA,0,2015-08-12
2,oaYhjqBbh18ZhU0bpyzSuw,Nice place. Great staff. A fixture in the tow...,dAa0hB2yrnHzVmsCkN4YvQ,0,2014-06-20
3,ulQ8Nyj7jCUR8M83SUMoRQ,Happy hour 5-7 Monday - Friday,dAa0hB2yrnHzVmsCkN4YvQ,0,2016-10-12
4,ulQ8Nyj7jCUR8M83SUMoRQ,"Parking is a premium, keep circling, you will ...",ESzO3Av0b1_TzKOiqzbQYQ,0,2017-01-28

In [127]:
tipOrderedColumns = ['user_id','business_id','text','date','likes']

In [128]:
tipDF = tipDF[tipOrderedColumns]

In [129]:
tipDF.to_csv('data/yelp/pgTip.csv',index=False)

In [192]:
reviewDF = pd.read_csv('data/yelp/review.csv')

In [193]:
reviewDF.shape

(4736897, 9)

In [194]:
reviewDF.columns

Index(['funny', 'user_id', 'review_id', 'text', 'business_id', 'stars', 'date',
       'useful', 'cool'],
      dtype='object')

In [195]:
reviewDF.head()

,funny,user_id,review_id,text,business_id,stars,date,useful,cool
0,0,cjpdDjZyprfyDG3RlkVG3w,VfBHSwC5Vz_pbFluy07i9Q,My girlfriend and I stayed here for 3 nights a...,uYHaNptLzDLoV_JZ_MuzUA,5,2016-07-12,0,0
1,0,bjTcT8Ty4cJZhEOEo01FGA,3zRpneRKDsOPq92tq7ybAA,If you need an inexpensive place to stay for a...,uYHaNptLzDLoV_JZ_MuzUA,3,2016-10-02,0,0
2,0,AXgRULmWcME7J6Ix3I--ww,ne5WhI1jUFOcRn-b-gAzHA,Mittlerweile gibt es in Edinburgh zwei Ableger...,uYHaNptLzDLoV_JZ_MuzUA,3,2015-09-17,0,0
3,0,oU2SSOmsp_A8JYI7Z2JJ5w,llmdwOgDReucVoWEry61Lw,Location is everything and this hotel has it! ...,uYHaNptLzDLoV_JZ_MuzUA,4,2016-08-21,0,0
4,0,0xtbPEna2Kei11vsU-U2Mw,DuffS87NaSMDmIfluvT83g,gute lage im stadtzentrum. shoppingmeile und s...,uYHaNptLzDLoV_JZ_MuzUA,5,2013-11-20,0,0

In [196]:
reviewDF.rename(columns={'text':'review_text','date':'review_date'},inplace=True)

In [197]:
reviewOrderedColumns = ['review_id','stars','review_date','review_text','useful',
                        'funny','cool','business_id','user_id']

In [198]:
reviewDF = reviewDF[reviewOrderedColumns]

In [199]:
reviewDF['review_text'] = reviewDF['review_text'].str.strip()

In [200]:
reviewDF['review_text'] = reviewDF['review_text'] .str.replace('\n', '')

In [201]:
#reviewDF['review_text'] = reviewDF['review_text'] .str.replace('\r', '')

In [209]:
reviewDF['review_text'] = reviewDF['review_text'] .str.replace('\\', '')

In [226]:
#v = reviewDF['review_text'].iloc[3283796]

In [229]:
reviewDF['tlen'] = reviewDF.review_text.str.len()

In [233]:
reviewDF.drop('review_text',axis=1,inplace=True)

In [230]:
reviewDF.head()

,review_id,stars,review_date,review_text,useful,funny,cool,business_id,user_id,tlen
0,VfBHSwC5Vz_pbFluy07i9Q,5,2016-07-12,My girlfriend and I stayed here for 3 nights a...,0,0,0,uYHaNptLzDLoV_JZ_MuzUA,cjpdDjZyprfyDG3RlkVG3w,1146
1,3zRpneRKDsOPq92tq7ybAA,3,2016-10-02,If you need an inexpensive place to stay for a...,0,0,0,uYHaNptLzDLoV_JZ_MuzUA,bjTcT8Ty4cJZhEOEo01FGA,887
2,ne5WhI1jUFOcRn-b-gAzHA,3,2015-09-17,Mittlerweile gibt es in Edinburgh zwei Ableger...,0,0,0,uYHaNptLzDLoV_JZ_MuzUA,AXgRULmWcME7J6Ix3I--ww,2398
3,llmdwOgDReucVoWEry61Lw,4,2016-08-21,Location is everything and this hotel has it! ...,0,0,0,uYHaNptLzDLoV_JZ_MuzUA,oU2SSOmsp_A8JYI7Z2JJ5w,809
4,DuffS87NaSMDmIfluvT83g,5,2013-11-20,gute lage im stadtzentrum. shoppingmeile und s...,0,0,0,uYHaNptLzDLoV_JZ_MuzUA,0xtbPEna2Kei11vsU-U2Mw,265

In [234]:
reviewDF.to_csv('data/yelp/pgReview.csv',index=False)

In [235]:
attributeDF.head()

,attributes.Ambience.divey,attributes.RestaurantsDelivery,attributes.DogsAllowed,attributes.HairSpecializesIn.coloring,attributes.BestNights.sunday,attributes.BYOB,attributes.AgesAllowed,attributes.Music.video,attributes.Alcohol,attributes.Ambience.classy,...,attributes.RestaurantsReservations,attributes.DietaryRestrictions.dairy-free,attributes.DietaryRestrictions.vegan,attributes.Ambience.romantic,attributes.Music.jukebox,attributes.Ambience.upscale,attributes.RestaurantsTakeOut,attributes.BikeParking,attributes.OutdoorSeating,business_id
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,YDf95gJZaq05wvo7hTQbbQ
1,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,...,False,NaN,NaN,False,NaN,False,True,NaN,False,mLwM-h2YhXl2NCgdS84_Bw
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,v2WhjAB3PIBA8J8VxG3wEg
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CVtCbSB1zUcUWg-9TNGTuQ
4,False,False,NaN,NaN,NaN,NaN,NaN,NaN,none,False,...,False,NaN,NaN,False,NaN,False,True,True,False,duHFBe87uNSXImQmvBh87Q

In [236]:
businessDF.head()

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open
0,YDf95gJZaq05wvo7hTQbbQ,Richmond Town Square,NaN,691 Richmond Rd,Richmond Heights,OH,44143,41.541716,-81.493116,2.0,17,1
1,mLwM-h2YhXl2NCgdS84_Bw,South Florida Style Chicken & Ribs,Eastland,2824 Milton Rd,Charlotte,NC,28215,35.236870,-80.741976,4.5,4,0
2,v2WhjAB3PIBA8J8VxG3wEg,The Tea Emporium,Riverdale,337 Danforth Avenue,Toronto,ON,M4K 1N7,43.677126,-79.353285,4.5,7,0
3,CVtCbSB1zUcUWg-9TNGTuQ,TRUmatch,NaN,"7702 E Doubletree Ranch Rd, Ste 300",Scottsdale,AZ,85258,33.565082,-111.916400,3.0,3,1
4,duHFBe87uNSXImQmvBh87Q,Blimpie,NaN,4719 N 20Th St,Phoenix,AZ,85016,33.505928,-112.038847,4.5,10,0

In [237]:
categoryDF

,business_id,categories
0,YDf95gJZaq05wvo7hTQbbQ,"[u'Shopping', u'Shopping Centers']"
1,mLwM-h2YhXl2NCgdS84_Bw,"[u'Food', u'Soul Food', u'Convenience Stores',..."
2,v2WhjAB3PIBA8J8VxG3wEg,"[u'Food', u'Coffee & Tea']"
3,CVtCbSB1zUcUWg-9TNGTuQ,"[u'Professional Services', u'Matchmakers']"
4,duHFBe87uNSXImQmvBh87Q,"[u'Sandwiches', u'Restaurants']"
5,uUEMrhJiL1a1pCA_I1SU7Q,"[u'Shopping', u'Tobacco Shops']"
6,2eJEUJIP54tex7T9YOcLSw,"[u'Chiropractors', u'Health & Medical']"
7,fEylCY3UEH8YJ0Xa7lu6lA,"[u'Automotive', u'Oil Change Stations', u'Car ..."
8,kFtuYklkAIlmYw8RZAieGw,"[u'Jewelry Repair', u'Gold Buyers', u'Local Se..."
9,NqiQdFa93wzUJGo29NbTPQ,"[u'Health & Medical', u'Optometrists']"
10,N9BN9ldVl1FNzcB9_eAstw,"[u'Bowling', u'Active Life']"
11,6s3z3TlpHOIecuSyPEOp7A,"[u'Barbers', u""Men's Hair Salons"", u'Hair Remo..."
12,n33Izvzk_z9_51H6NsQF-A,"[u'Flowers & Gifts', u'Bakeries', u'Grocery', ..."
13,m06OZRFTaKKi6U0omfLq4g,"[u'Landscape Architects', u'Home & Garden', u'..."
14,SDMRxmcKPNt1AHPBKqO64Q,"[u'Burgers', u'Bars', u'Restaurants', u'Sports..."
15,iFEiMJoEqyB9O8OUNSdLzA,"[u'Chinese', u'Restaurants']"
16,qrAHt4wWRYWj1sEjxq574A,"[u'Contractors', u'Roofing', u'Home Services']"
17,jqp5TibmgJZVFKHTp3XfqQ,"[u'Car Wash', u'Automotive', u'Auto Detailing']"
18,1cLXGXThDYZ5WK_KpBLtkw,"[u'Food', u'Bakeries', u'Coffee & Tea']"
19,BmSJ6C7Y9s3tHotRetVbmA,"[u'Financial Services', u'Banks & Credit Unions']"
20,Av-ODv7-hV12If005Pj6wA,"[u'Automotive', u'Auto Repair', u'Tires', u'Oi..."
21,HmI9nhgOkrXlUr6KZGZZew,"[u'Sandwiches', u'Restaurants', u'Italian', u'..."
22,qnpvw-uQyRn9nlClWFK9aA,"[u'Chicken Wings', u'Restaurants']"
23,igcy3ojJbgbpS8K70gvFQg,"[u'Life Coach', u'Health & Medical', u'Profess..."
24,5Ghe0btvM7tXqANnhNB5eg,"[u'Advertising', u'Marketing', u'Professional ..."
25,vvB8ebrUsjfNqwWjk4G4OQ,"[u'Pubs', u'Nightlife', u'Bars']"
26,l9ABoPi9j_pH9588tk0-6w,"[u'Arts & Entertainment', u'Performing Arts']"
27,eW9vw2fE_6EuTWErZRo3mQ,"[u'Toy Stores', u'Hobby Shops', u'Shopping']"
28,ZFGYEsHFo6G4KtlTpYmMRQ,"[u""Men's Hair Salons"", u'Hair Stylists', u'Bea..."
29,ATsUb_sLzDSZkIoBdoO_mg,"[u'Home Services', u'Shades & Blinds']"
...,...,...
156609,1E1je_htFWU-CCcCRqGcHQ,"[u'Transportation', u'Public Transportation', ..."
156610,HUKbH7r9TBJPri6LJbBKtw,"[u'Restaurants', u'Mexican']"
156611,caws6UF4lcxleonolhNgBQ,"[u'Piercing', u'Tattoo', u'Beauty & Spas']"
156612,AYAgMAqdg3AtG87mae5W6w,"[u'Hair Stylists', u'Hair Removal', u'Beauty &..."
156613,a8pmtlVKf7NiSLI-4KejIw,"[u'Mexican', u'Tapas/Small Plates', u'Restaura..."
156614,AuUZ-3tH6FcA97t0pLMkxQ,"[u'Accessories', u'Fashion', u'Arts & Crafts',..."
156615,nKph91qATrPCbJ-QwZjDZw,"[u'Gas Stations', u'Restaurants', u'Car Wash',..."
156616,4B5Ec4VTXty--_Vco9njNw,"[u'Lawyers', u'Immigration Law', u'Professiona..."
156617,Ee2d2D0pjQF4oExg9PQ5tQ,"[u'Restaurants', u'Chicken Wings', u'Fast Food..."
156618,bYfEp3NMskYfEzWL8tVb4w,"[u'Restaurants', u'Argentine']"
156619,G-w4z0nYnLcYwQYXMbEb5w,"[u'Automotive', u'Oil Change Stations', u'Auto..."
156620,oVji4RtNNaGJU119CaCU1w,"[u'Coffee & Tea', u'Food']"
156621,euUGjobp4ig838a0DE06bQ,"[u'Restaurants', u'Hot Dogs']"
156622,3WFFPdui6B80x9wPP0gHUg,"[u'Orthopedists', u'Doctors', u'Health & Medic..."
156623,j8KDhwMpM3srQ40rZDedlA,"[u'Bail Bondsmen', u'Professional Services', u..."
156624,Pb5AfEWAB8GWlHyy-p-l1g,"[u'Restaurants', u'Mexican']"
156625,7IQoE-EXnRCBUzaVHYlhmw,"[u'Pizza', u'Restaurants']"
156626,KcFfciiA1lmui6r_h5OwTg,"[u'Restaurants', u'Delis', u'Sandwiches', u'Fo..."
156627,1ZsjYgvmtiwZameWm1sCrg,"[u'Furniture Reupholstery', u'Flooring', u'Hom..."
156628,ZEatGDrIaEDX7eZjfQlkvw,"[u'Telecommunications', u'Mobile Phones', u'Sh..."
156629,ixggn3Iud-mt5ebPl3VXbw,"[u'Beauty & Spas', u'Health & Medical', u'Refl..."
156630,bueyFacDvtY0ot2e1aujLA,"[u'Massage', u'Chiropractors', u'Health & Medi..."
156631,HzUxQ1WpeNmeecXN-HPlPw,"[u'Food', u'Taiwanese', u'Restaurants', u'Coff..."
156632,hdNOL59QqvGlg70E4yHrsQ,"[u'Restaurants', u'Burgers']"
156633,LR0IRY1LvTRsPKAFalXlYA,"[u'Day Spas', u'Beauty & Spas', u'Hair Salons']"
156634,MW4yO70jP70b9uNjZF2OVw,"[u'Art Galleries', u'Flowers & Gifts', u'Event..."
156635,9QtHDX71JnaQbmzWWVbi-A,"[u'American (New)', u'Restaurants']"
156636,pj97DoTfO6FcJpW9PnyWtQ,"[u'Auto Repair', u'Automotive']"
156637,O6BhCUuMA6sp0N24oEIjfw,"[u'Zoos', u'Active Life']"
156638,scMIE4jyGp7FkWrMKAgjxA,"[u'Fashion', u'Shopping', u'Food', u'Departmen..."