In [1]:
from sqlalchemy import create_engine
import pandas as pd
from sqlkey import keystring
cnx = create_engine(keystring)

In [2]:
#pd.read_sql_query('''SELECT * FROM allstarfull LIMIT 5''',cnx)

    playerid  yearid gamenum        gameid teamid lgid gp startingpos
0  gomezle01    1933       0  ALS193307060    NYA   AL  1           1
1  ferreri01    1933       0  ALS193307060    BOS   AL  1           2
2  gehrilo01    1933       0  ALS193307060    NYA   AL  1           3
3  gehrich01    1933       0  ALS193307060    DET   AL  1           4
4  dykesji01    1933       0  ALS193307060    CHA   AL  1           5